<div id="body">
  <%= form_for @timetable, html: { multipart: true } do |f| %>
    <form role="form">
      <div class="box-body">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
        </div>
      </div>
    </form>
  <% end %>
</div>
