<div class="row">
  <div class="frontend-content col-md-12">
  Course &raquo; <%= @course.name %>
  </div>
</div>
<div class="row">
  <div class="frontend-content col-md-12">
	<%= @course.html.html_safe %>
  </div>
</div>